<table class="table table-striped table-bordered">
        <thead>
                <tr>
                        <th>Beer Exchange Participants</th>  
                </tr>
        </thead>
        <tbody>
                {{#each model as |person|}}
                        <tr>
                                <td>
                                        {{person.name}} passes a beer to {{person.receiver}}
                                </td>
                        </tr>
                        {{else}}
                        <tr><td>No users to organize beer exchange.</td></tr>
                {{/each}}
        </tbody> 
</table>
{{#link-to 'exchange.new' class='btn btn-primary'}}Add A New Participant{{/link-to}}