<form>
  <div class="form-group">
    <label>Add New Participant</label>
    {{input type="text" class="form-control" value=name placeholder="Name"}}
  </div>
  <button {{action 'addPerson'}} class="btn btn-primary">Add Person</button>
</form>
